<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col" >Nome</th>
      <th scope="col">Endereço</th>
      <th scope="col">CEP</th>
      <th scope="col">Cidade</th>
      <th scope="col">UF</th>
      <th scope="col">Contato</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody *ngFor="let pessoa of pessoas">
    <tr>
      <th>{{ pessoa.id }}</th>
      <td> {{ pessoa.nome }}</td>
      <td> {{ pessoa.endereco }} </td>
      <td> {{ pessoa.cep }}</td>
      <td> {{ pessoa.cidade }} </td>
      <td> {{ pessoa.uf }} </td>
      <td> {{ retornaCelular(pessoa) }} </td>
      <td></td>
      <td><button id="edit" type="button" class="btn btn-primary btn-lg">Editar</button></td>
      <td><button id="delete" type="button" class="btn btn-danger btn-lg">Deletar</button></td>
    </tr>
  </tbody>
</table>
